html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5);
}

header > h1 {
    color: white;
    display: inline;
}

header a {
    color: #eee;
}

header a:hover {
    text-decoration: underline;
}

header a + a::before {
    content: "|";
    margin: 0 1rem;
}

header nav {
    float: right;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 150px;
    background-color: #eee;
}

main table {
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}

table thead td {
    font-weight: bold;
    color: white;
    background-color: #333;
}

table tbody tr:nth-child(2n) {
    background-color: #efefef;
}
