<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<header>
    <h1>Hello to the best Place</h1>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>
<main>
    <div>
        <form>
            <h1 class="index-title">ACCOUNT LOGIN</h1>
            <label for="Your pet name is:">Petname</label>
            <input type="text" name="username" autofocus required>
            <button type="submit">Login</button>
        </form>
    </div>
</main>
</body>
</html>
