<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="C:\Users\klari\Greenfox\K4nd0r\K4nd0r\Week-08\Day-05\mylittleclub\src\main\resources\static" />
</head>
<body>
<header>
    <h1>Hello to the best Place</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/products?qty=5">Show items in stock</a>
    </nav>
</header>
<main>
    <div class="container">

        <form>

            <h1 class="index-title">ACCOUNT LOGIN</h1>
            <label for="username">USERNAME</label>
            <input type="text" name="usrname" autofocus required>
            <label for="pw">PASSWORD</label>
            <input type="password" name="psw" required>
            <span class="psw"><a href="https://google.com">Forgot password?</a></span>
            <button type="submit">Login</button>

        </form>

    </div>
</main>
</body>
</html>
